<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Cars not Fixed</title>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar">

    </div>
        <div>
            <h2>Cars not Fixed</h2>
            <table class="table">
                <tr>
                    <th>Make</th>
                    <th>Registration</th>
                    <th>Description</th>
                    <th>Year</th>
                    <th>Color</th>
                    <th>Arrive Date</th>
                    <th>Is Fixed</th>
                    <th>Fix</th>
                </tr>
                <tr th:each="car : ${cars}">
                    <span th:unless="${car.isFixed}">
                        <td th:text="${car.make}"></td>
                        <td th:text="${car.registration}"></td>
                        <td th:text="${car.description}"></td>
                        <td th:text="${car.year}"></td>
                        <td th:text="${car.color}"></td>
                        <td th:text="${#dates.format(car.arriveDate, 'dd-MM-yyyy')}"></td>
                        <td th:text="${car.isFixed}"></td>
                    <span th:unless="${car.isFixed}">
                        <form action="#" th:action="@{/cars}" th:object="${car}" method="post">
                            <input type="hidden" th:value="${car.id}" name="id"/>
                            <td><input type="submit" class="btn btn-primary" value="Fix"/></td>
                        </form>
                    </span>
                </tr>
            </table>
        </div>
</body>
</html>